@using System.Web;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Globe</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
@{
    bool Home = false;
    bool Politics = false;
    bool Health = false;
    bool Sport = false;
    bool Technology = false;
}
@if(ViewData["Title"] == "Home")
{
    Home = true;
    Politics = false;
    Health = false;
    Sport = false;
    Technology = false;
}
else if (ViewData["Title"] == "Politics")
{
    Home = false;
    Politics = true;
    Health = false;
    Sport = false;
    Technology = false;
}
else if (ViewData["Title"] == "Health")
{
    Home = false;
    Politics = false;
    Health = true;
    Sport = false;
    Technology = false;
}
else if (ViewData["Title"] == "Sport")
{
    Home = false;
    Politics = false;
    Health = false;
    Sport = true;
    Technology = false;
}
else if (ViewData["Title"] == "Technology")
{
    Home = false;
    Politics = false;
    Health = false;
    Sport = false;
    Technology = true;
}


<body>
    
    <header>
        <div class="bgimg">
            <img src="~/asedes/img/BGIMG.png" alt="bake grawind img">
        </div>
        <div class="logo">
            <img src="~/asedes/img/LOGO.png" alt="logo">
            <div class="logotext">
                <span class="blue">G</span>
                <span class="blue">L</span>
                <span class="green">O</span>
                <span class="green">B</span>
                <span class="orange">E</span>
            </div>
            <div class="logoNews">News</div>
        </div>
        <nav class="nav_bar">
            <div class="nav_item">
                <ul>
                    <li>
                        <a asp-action="Index" active=@Home id="Home">Home</a>
                        <div class="nav_item_underline"></div>
                    </li>

                    <li>
                        <a asp-action="Politics" active=@Politics id="Politics">Politics</a>
                        <div class="nav_item_underline"></div>
                    </li>

                    <li>
                        <a asp-action="Health" active=@Health id="Health">Health</a>
                        <div class="nav_item_underline"></div>
                    </li>

                    <li>
                        <a asp-action="Sport" active=@Sport id="Sport">Sport</a>
                        <div class="nav_item_underline"></div>
                    </li>

                    <li>
                        <a asp-action="Technology" active=@Technology id="Technology">Technology</a>
                        <div class="nav_item_underline"></div>
                    </li>

                    <div class="sarch">
                        <form asp-action="Sarch" method="get">
                            <input type="text" class="sharth" name="sarch" value="@ViewData["Sarching"]">
                            
                            <label for="SAR"><img src="~/asedes/img/sarch.png"></label>
                            <input type="submit" id="SAR" hidden />
                        </form>
                    </div>

                    @{
                        string cookieValue = Context.Request.Cookies["User_type"];
                        if (string.IsNullOrEmpty(cookieValue))
                        {
                            <div id="nav_login">
                                <li>
                                <a id="LOGIN" onclick="login()">LOGIN</a>
                                    <div class="nav_item_underline"></div>
                                </li>
                            </div>
                        }
                        else
                        {
                            string cookieName = Context.Request.Cookies["User_Name"];
                            <div id="nav_logedin">
                                <li>
                                    @{
                                        if(cookieValue == "ad")
                                        {
                                            <a id="Acount" class="acount_img" onclick="Ad_Acount_active()">
                                                <p>@cookieName</p>
                                                <img src="~/asedes/png-clipart-computer-icons-user-profile-login-user-heroes-sphere-thumbnail.png">
                                            </a>
                                        }
                                        else if (cookieValue == "au")
                                        {
                                            <a id="Acount" class="acount_img" onclick="Au_Acount_active()">
                                             <p>@cookieName</p>
                                                <img src="~/asedes/png-clipart-computer-icons-user-profile-login-user-heroes-sphere-thumbnail.png">
                                            </a>
                                        }
                                        else if(cookieValue == "ur")
                                        {
                                            <a id="Acount" class="acount_img" onclick="Us_Acount_active()">
                                                <p>@cookieName</p>
                                                <img src="~/asedes/png-clipart-computer-icons-user-profile-login-user-heroes-sphere-thumbnail.png">
                                            </a>
                                        }
                                    }
                                    
                                            @* فيصل *@
                                    <div id="ADMEN_ACOUNT_POPUP">
                                        <div class=" acount_bg_card">
                                            <div class="acount_bg_card" onclick="Close_acount_popup()"></div>
                                            <div class="card" account_type="Admen">
                                                <div class="card_contant">
                                                    <ul>
                                                                @*//كاتب*@
                                                        <li>
                                                            <a asp-action="Create_Account">Create Account</a>
                                                        </li>

                                                        <li>
                                                            <a asp-action="Create_Plog">Create plog</a>
                                                        </li>

                                                        <li>
                                                            <form asp-action="Dashbord" method="post">
                                                                <label for="dash">View plog</label>
                                                                <input type="submit" id="dash" hidden/>
                                                            </form>
                                                        </li>

                                                        <div class="slpet"></div>

                                                        <li>
                                                            <a asp-action="logout" onclick="logout()"
                                                               onmouseenter="logout_icon('../asedes/icons8-logout-100.png')"
                                                               onmouseleave="logout_icon('../asedes/Picture1.png')">
                                                                Logout <img src="~/asedes/Picture1.png" id="logoicon">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="USER_ACOUNT_POPUP">
                                        <div class=" acount_bg_card">
                                            <div class="acount_bg_card" onclick="Close_acount_popup()"></div>
                                            <div class="card" account_type="User">
                                                <div class="card_contant">
                                                    <ul>
                                                        <li>
                                                            <a asp-action="Edit_Account">profile</a>
                                                        </li>

                                                        <li>
                                                            <a asp-action="Favorite">Favorite</a>
                                                        </li>

                                                        <div class="slpet"></div>
                                                        <li>
                                                            <a asp-action="logout" onclick="logout()"
                                                               onmouseenter="logout_icon('../asedes/icons8-logout-100.png')"
                                                               onmouseleave="logout_icon('../asedes/Picture1.png')">
                                                                Logout <img src="~/asedes/Picture1.png" id="logoicon">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="AUTHER_ACOUNT_POPUP">
                                        <div class=" acount_bg_card">
                                            <div class="acount_bg_card" onclick="Close_acount_popup()"></div>
                                            <div class="card" account_type="Auther">
                                                <div class="card_contant">
                                                    <ul>
                                                        <li>
                                                            <a asp-action="Edit_Account">profile</a>
                                                        </li>

                                                        <li>
                                                            <a asp-action="Create_Plog">Create plog</a>
                                                        </li>

                                                        <li>
                                                            <form asp-action="Dashbord" method="post">
                                                                <label for="dash1">View plog</label>
                                                                <input type="submit" id="dash1" hidden />
                                                            </form>
                                                        </li>

                                                        <li>
                                                            <a asp-action="Favorite">Favorite</a>
                                                        </li>

                                                        <div class="slpet"></div>

                                                        <li>
                                                            <a asp-action="logout" onclick="logout()"
                                                               onmouseenter="logout_icon('../asedes/icons8-logout-100.png')"
                                                               onmouseleave="logout_icon('../asedes/Picture1.png')">
                                                                Logout <img src="~/asedes/Picture1.png" id="logoicon">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            @* نهاية فيصل *@
                                </li>

                            </div>

                        }
                    }
                </ul>
            </div>
        </nav>

    </header>
        <main >

        @* فيصل *@
        <div class="popup" id="popup">
            <div class="bg_card">
                <div class="bg_card" onclick="Close_popup()"></div>
                <div class="card">
                    <img src="~/asedes/img/568140.png" class="close" onclick="Close_popup()">
                    <div class="pop_left">
                        <div class="pop_SingUP" id="SingUP">
                            <div class="logotext">
                                <span class="blue">G</span>
                                <span class="blue">L</span>
                                <span class="green">O</span>
                                <span class="green">B</span>
                                <span class="orange">E</span>
                            </div>
                            @* فورم انشاء حساب *@
                            <form asp-action="regastration" method="post">
                                <div class="feeld_name">
                                    <div class="name_items">
                                        <div class="feeld">
                                            <input type="text" name="r_fname" id="sfn">
                                            <label for="sfn">First Name</label>
                                        </div>
                                    </div>

                                    <div class="name_items">
                                        <div class="feeld">
                                            <input type="text" name="r_lname" id="sln">
                                            <label for="sln">Last Name</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="feeld">
                                    <input type="text" name="r_uname" id="sun">
                                    <label for="sun">User Name</label>
                                </div>

                                <div class="feeld">
                                    <input type="text" name="r_email" id="se">
                                    <label for="se">Email</label>
                                </div>

                                <div class="feeld">
                                    <input type="password" name="r_password" id="spass">
                                    <label for="spass">Password</label>
                                </div>

                                <div class="feeld">
                                    <input type="password" name="r_repassword" id="srepass">
                                    <label for="srepass">Repassword</label>
                                </div>

                                <input type="submit" value="Register" onclick="use_the_acount()" class="but">
                            </form>
                        </div>
                        <div class="pop_SingUP" id="LogIN">
                            <div class="logotext">
                                <span class="blue">G</span>
                                <span class="blue">L</span>
                                <span class="green">O</span>
                                <span class="green">B</span>
                                <span class="orange">E</span>
                            </div>
                            <div class="pop_titel">
                                LOGIN with the GLOBE
                            </div>
                            @* فورم تسجيل الدخول *@

                            <form asp-action="login" method="post">
                                <div class="feeld">
                                    <input type="text" name="l_username" id="lun">
                                    <label for="lun">User Name or Email</label>
                                </div>

                                <div class="feeld">
                                    <input type="password" name="l_password" id="lpass">
                                    <label for="lpass">Password</label>
                                </div>

                                <input type="submit" value="LOGIN" class="but">

                                <div class="sing_up_a">
                                    <a href="#" onclick="Register()">Don't have acount</a>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="pop_rigth">
                        <img src="~/asedes/skynews-post-office-protest_6413847.png" class="first">
                        <img src="~/asedes/skynews-serco-doncaster-prison_5914750.png" class="secand">
                        <img src="~/asedes/‏‏لقطة الشاشة (90).png" class="thared">
                        <img src="~/asedes/‏‏لقطة الشاشة (92).png" class="forth">
                    </div>
                </div>
            </div>
        </div>
        @* نهاية فيصل *@

            @RenderBody()
        </main>

    <footer>
        <div class="F_left">
            <div class="F_top">
                <div class="f_Politics">
                    <ul>
                        <li><a asp-action="Politics">Politics</a></li>
                        <li><a asp-action="Politics">Stal</a></li>
                        <li><a asp-action="Politics">News</a></li>
                        <li><a asp-action="Politics">Videos</a></li>
                    </ul>
                </div>
                <div class="f_Health">
                    <ul>
                        <li><a asp-action="Health">Health</a></li>
                        <li><a asp-action="Health">Food</a></li>
                        <li><a asp-action="Health">Drink</a></li>
                    </ul>
                </div>
                <div class="f_Sport">
                    <ul>
                        <li><a asp-action="Sport">Sport</a></li>
                        <li><a asp-action="Sport">football</a></li>
                        <li><a asp-action="Sport">Golf</a></li>
                        <li><a asp-action="Sport">olympics</a></li>
                    </ul>
                </div>
                <div class="f_Technology">
                    <ul>
                        <li><a asp-action="Technology">Technology</a></li>
                        <li><a asp-action="Technology">Digitial</a></li>
                        <li><a asp-action="Technology">studios</a></li>
                    </ul>
                </div>
            </div>

            <div class="F_bottom">
                <div class="copy_rigth">&copy;2023 GLOBE News a student's projct</div>
            </div>

        </div>

        <div class="F_rigth">
            <div class="F_logo">
                <div class="logoimg">
                    <img src="~/asedes/img/LOGO_F.png" alt="logo">
                </div>
                <div class="text">
                    <div class="logotext">
                        <span class="blue">G</span>
                        <span class="blue">L</span>
                        <span class="green">O</span>
                        <span class="green">B</span>
                        <span class="orange">E</span>
                    </div>
                    <div class="logoNews">News</div>
                </div>

            </div>
        </div>

    </footer>
    @{
        string JS = ViewBag.JS;
    }
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
